[Desktop Entry]
Name=Unify
Comment=Web app aggregator
Exec=unify
Icon=io.github.denysmb.unify
Type=Application
Terminal=false
Categories=Network;
SingleMainWindow=true
X-DBUS-ServiceName=io.github.denysmb.unify
X-DBUS-StartupType=Unique
