[Desktop Entry]
Name=Unify
Comment=Web app aggregator
Version=1.0
Exec=Unify
Icon=io.github.denysmb.unify
Type=Application
Terminal=false
Categories=Internet;
SingleMainWindow=true
X-DBUS-ServiceName=io.github.denysmb.unify
X-DBUS-StartupType=Unique
